<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body onload="log()">
    <div class="container">
        <div class="profile-wrap">
            <div class="profile">
                {% if user %}
                <!-- 로그인 후에 표시되는 사용자 정보 -->
                <div class="user-name">{{'안녕하세요' + user.nick + '님'}}</div>
                <div class="half">
                    <div>팔로워</div>
                    <div class="count follower-count">{{followerCount}}</div>
                </div>
                <div class="half">
                    <div>팔로잉</div>
                    <div class="count following-count">{{followingCount}}</div>
                </div>
                <input type="hidden" id="my-id" value="{{user.id}}">
                <a href="/profile" class="btn" id="my-profile">내 프로필</a>
                <a href="/auth/logout" class="btn" id="logout">로그아웃</a>
                {% else %}
                <!-- 로그인 하기전에 표시되는 사용자 정보 -->
                <form action="/auth/login" method="post" id="login-form">
                    <div class="input-group">
                        <label for="email">이메일</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div class="input-group">
                        <label for="password">패스워드</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <a href="/auth/kakao" id="kakao" class="btn">카카오톡</a>
                    <button type="submit" id="login" class="btn">로그인</button>
                    <a href="/join" class="btn" id="join">회원가입</a>
                </form>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}
 
    {% endblock %}
</body>

</html>
<!-- 모든 페이지에 적용될 양식 페이지. 각 페이지의 내용을 담고 있는 각 html
파일들은 block content 와 block script 에 들어갈 내용만 쓰고, layout.html 파일을 extend 합니다 -->