{% extends 'layout.html' %}
<!-- 양식 파일이 현재 페이지로와서 위치하며, 아래 기술되는 block content 와 block script 가 layout.html 의 내용중 해당위치에 들어감 -->

{% block content %}
<!-- 피드 작성 폼 -->
<div class="timeline">
    {% if user %}
    <div id="write-form">
        <form action="/post" id="post-form" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <textarea name="content" id="twit"></textarea>
            </div>
            <div class="img-preview">
                <img src="" id="img-preview" style="display: none; width: 250;">
                <input type="hidden" name="url" id="img-url">
            </div>
            <div>
                <label for="img" id="img-label">사진업로드</label>
                <input type="file" accept="image/*" id="img">
                <button id="post-btn" type="submit" class="btn">포스팅</button>
            </div>
        </form>
    </div>
    {% endif %}
    <!-- 피드 작성 폼 - 로그인 후에 노출 -->
    <!-- 해시태그로 검색할 수 있는 검색 폼 -->
    <div class="twits">
        <form action="/hashtag" id="hashtag-form">
            <input type="text" name="hashtag" placeholder="태그검색">
            <button type="submit" class="btn">검색</button>
        </form><br>
        {% for post in posts %}
        <div class="twit">
            <div class="twit-author" style="font-weight: bold; font-family: Verdana;">
                <input type="hidden" value="{{post.id}}" class="twit-id">
                <input type="hidden" value="{{post.UserId}}" class="twit-user-id">
                {{post.id}}&nbsp;-&nbsp;{{post.User.nick}}
                <!-- 현재 로그인 사요자가, 게시물 작성유저를 팔로우 하는 버튼 -->
                {% if not followerIdList.includes(post.User.id) and post.User.id !== user.id %}
                <button class="twit-follow">팔로우</button><br><br>
                {% endif %}
            </div>
            <!-- 이미지 -->
            {% if post.img %}
            <div class="twit-img"><img src="{{post.img}}"></div><br>
            {% endif %}
            <div class="writ-content" style="font-weight: bold; font-family: Verdana;">
                <pre>{{post.content}}</pre>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- 각 피드들 나열 -->
{% endblock %}


{% block script %}
<script>
    function log() {
        let k = new URL(location.href).searchParams.get('loginError')
        if (k) {
            alert(k)
            location.href = '/'
        }
    }

    document.getElementById('img').addEventListener('change', async (e) => {
        const formData = new FormData();
        formData.append('img', e.target.files[0]);
        try {
            //alert('lll');
            const res = await axios.post('/post/img', formData);
            const data = res.data;

            document.getElementById('img-url').value = data.url // 히든태그에 url 대입
            document.getElementById('img-preview').src = data.url // 미리보기태그 src 대입
            document.getElementById('img-preview').style.display = 'inline' // 미리보기태그 표시

        } catch (err) {
            console.error(err)
        }
    })

    // 클래스 twit-follow 으로 검색된 태그들로 반복실행 함
    // 그 실행중에 twit-follow 클래스로된 하나하나의 태그들은 tag 변수에 담겨서 반복실행됩니다
    document.querySelectorAll('.twit-follow').forEach((tag) => {
        tag.addEventListener('click', (e) => {
            const myid = document.querySelector('#my-id') // myid.value : 실제 아이디
            if (myid) {
                const userid = tag.parentNode.querySelector('.twit-user-id').value
                if (userid !== myid.value) {
                    const answer = confirm('팔로우 하시겠습니까')
                    if (answer) {
                        axios.post(`/user/follow/${userid}`)
                            .then(() => {
                                location.reload()
                            })
                            .catch((err) => {
                                console.error(err)
                            })
                    }
                }
            }

        })
    })

</script>
{% endblock %}